p{
    font-size: 30px;
    color: blanchedalmond;
}

h1{
    color: blanchedalmond;
}

body{
    background-color: rgb(0, 0, 0);
}

h2{
    color: rgb(0, 0, 0);
}

img{
    border-radius: 10px;
}