*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





p{
    font-size: 25px;
    color: rgb(65, 7, 119);
    background: rgb(231, 145, 47);
    border-radius: 10px;ы
    font-weight:bold;
    
}

h1{
    color: rgb(65, 7, 119);
    text-align: center;
    background: rgb(231, 145, 47);
    border-radius: 10px;
    font-family: 'New Tegomin', serif;
    font-weight:bold;
    margin: 20px;
}

body{
   background: url(https://wallpaperplay.com/walls/full/4/1/2/132804.jpg)
  
}

h2{
    color: rgb(65, 7, 119);
    text-align: center;
    background: rgb(231, 145, 47);
    border-radius: 10px;
    font-family: 'New Tegomin', serif;
    font-weight:bold;
}

img{
    border-radius: 10px;
    max-width: 76%;
    height: auto;
font-size: 9px;
filter: brightness(50%);
transition: .5s;
}

img:hover{
transition: .5s;
filter: brightness(100%);

}

.wrapper{
    max-width: 1200px;
    margin: auto;
    background: rgb(231, 145, 47);
    border-radius: 10px;
}
body{
    font-family: 'New Tegomin', serif;
}

a{  
    text-decoration: none;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: 2px solid;
    font-weight: bold;
    border-radius: 4px;
    /* padding: 5px; */
}


.img-item{
    text-align: center;
}

.text{
    padding: 0 10px;
}

.text p{
    text-align: center;
}
