* {
    padding: 0;
    margin: 0.5px;
}

a {
    margin: 20;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: none;
}

p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
}

body {
    background: url(https://kartinkinaden.ru/uploads/posts/2021-01/1610943522_34-p-temnii-igrovoi-fon-54.jpg);


}




h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;

}

iframe {
    text-align: center;
    flex-wrap: wrap;
    flex: auto;
    border-radius: 10%;
    font-weight: bold;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: rgba(red, green, blue, .1) text-align center;
    display: center;
    font-size: 50px;
    font-weight: bold;
}

a {
    color: #ffffff;
    text-align: left;
}




li {
    color: aliceblue;
    text-align: center;

}

.logo-type {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50 × 28.16;
}

h3 {
    text-align: center;
    color: aliceblue;
}

.scale{
    transition: 1s;
}

.scale:hover {
    transform: scale(1.2);
    transition: 0.5ss;
  
    justify-content: center;
   
}

.scale a:hover{
    color: rgb(113, 113, 201);
    transition: 0.5s;
}

.item{
   
    transition: 1s;
}

.item:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

