p{
    font-size: 25px;
    color: blanchedalmond;
    background: rgb(49, 255, 128);
    border-radius: 10px;ы
    
    
}

h1{
    color: blanchedalmond;
    text-align: center;
    background: rgb(49, 255, 128);
    border-radius: 10px;
    font-family: 'New Tegomin', serif;
}

body{
   background: url(https://wallpaperplay.com/walls/full/4/1/2/132804.jpg)
  
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    background: rgb(49, 255, 128);
    border-radius: 10px;
    font-family: 'New Tegomin', serif;
}

img{
    border-radius: 10px;
    max-width: 70%;
    height: auto;
font-size: 5px;
     
}

.wrapper{
    max-width: 1200px;
    margin: auto;
    background: rgb(49, 255, 128);
    border-radius: 10px;
}
body{
    font-family: 'New Tegomin', serif;
}

