*{
    padding: 0;
    margin: 0;
}

a{
    font-size: 22px;
    color: rgb(38, 0, 173);
    font-family: 'New Tegomin', serif;
    
}

p{
    font-size: 20px;
    color: rgb(38, 0, 128);
    text-align: center;
    font-family: 'New Tegomin', serif;
}

h1{
    color: rgb(70, 0, 150);
    text-align: center;
    font-family: 'New Tegomin', serif;
}
 body{
     background: url(https://wallpapercave.com/wp/wp6901263.png);
     
     
 }
    
     
 

 h2{
     color: rgb(89, 0, 161);
    text-align: center;
    font-family: 'New Tegomin', serif;
 }

 img{
     max-width: 100%;
     height: auto;
 }

 iframe{
     text-align: center;
     flex-wrap: wrap;
     flex: auto;
     border-radius: 10%;
 }
 
 .wrapper{
     max-width: 1200px;
     margin: auto;
 }

 header{
     background-color: rgb(184, 184, 184);
     text-align: left;
    
 }

 a{
     color: #270083;
     text-align: left;
 }

 footer{
     font-size: 30px;
 }


 