p{
    font-size: 30px;
    color: blanchedalmond;
    background: rgb(49, 255, 128);
    border-radius: 10px;
}

h1{
    color: blanchedalmond;
    text-align: center;
    background: rgb(49, 255, 128);
    border-radius: 10px;
}

body{
    background: url(https://cdn.wallpapersafari.com/71/36/vnLF73.jpg)
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    background: rgb(49, 255, 128);
    border-radius: 10px;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
    background: rgb(49, 255, 128);
    border-radius: 10px;
}

body{
    font-family: 'New Tegomin', serif;
}

img{
border-radius: 10px;
max-width: 70%;
}